body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
 /* text-align: center; */
}

/* navigation bar (top) */
.navbar {
  background-color: black;
  font-size: 2em;
  text-align: center;

}

.navbar-header .navbar-brand {
  /* min-height: 55px; */
  color: white;
  font-size: 1em;
} 

/* footer */
footer {
  width: 100%;
  background-color: black;
  padding: 5% 5% 22% 5%;
  color: #FFF;
  font-size: 1.5em;
  bottom: 0;

  /* position: fixed; */
}
footer h3 {
  font-size: 2em;
  font-weight: 700;
}

.fa {
  padding: 15px;
  font-size: 50px;
  color: #FFF
}
.fa:hover {
  color: #D5D5D5;
  text-decoration: none;
}
.icon {
  max-width: 200px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Adjusting for mobile */
@media {max-width: 768px} {
  .landing-text h1 {
    font-size: 300%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .icon {
    padding: 5%;
    max-width: 100px;
  }
}
